:root {
  /* Surfaces */
  --surface: #f5f1ed;
  --surface-light: #f8f8f8;

  /* Accents */
  --accent-blush: #e8d5d5;
  --accent-mauve: #7f5a55;
}

@layer base {
  html {
    font-size: 16px;
  }

  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}
